// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;	

}
.center(){
	display:flex;
	justify-content: center;
	align-items: center;
}
html, body {
    height: 100%;
}
nav.navigation{
	display:flex;
	justify-content: space-evenly;
	border-bottom: 1px black solid;
    padding: 2%;
	font-size: 1.3rem;
	background-color: purple;
	a{
		text-decoration: none;
		color: powderblue;
	}
}
.main{
	display:flex;
	justify-content: space-between;
	width:100%;
	height: -webkit-fill-available;

	/*Child1 of 2 starts here*/
	.left-side{
		width:40%;
		background-color: purple;
		div{
			.center();
			flex-direction: column;
		}
		h1{
			font-size: 2rem;
		}
		.resumeprofile{
			.center();
			flex-direction: column;
			padding: 2% 4%;
			p{
				font-family: monospace;
			}
		}
		h2{
			font-size: 1.3rem;

		}
		.resumecontact{
			width:60%;
			div{
				display: flex;
    flex-direction: row;
    margin: 2% 3%;
    width: 100%;
    justify-content: start;
				p{
					width:45%;
				}
			}
		}
		#resumeaddress{
			align-items: baseline;
		}
	}
	/*child2 starts here*/
	.right-side{
		width:60%;
		background-color:powderblue ;
		section h2{
			font-size:1.3rem;
			border-bottom: black 1px solid;
		}
		.skills div{
			display:flex;
		}
	}

} /*Parent ends here*/
